@font-face {
  font-family: 'SFProDisplay';
  font-weight: 400;
  src: 
      url('./sfprodisplay/SFProDisplay-Regular.woff?v=1.102') format('woff'), /* Super Modern Browsers */
      url('./sfprodisplay/SFProDisplay-Regular.woff2?v=1.102') format('woff2') /* Modern Browsers */
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 500;
  src: 
      url('./sfprodisplay/SFProDisplay-Medium.woff?v=1.102') format('woff'), /* Super Modern Browsers */
      url('./sfprodisplay/SFProDisplay-Medium.woff2?v=1.102') format('woff2') /* Modern Browsers */
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 600;
  src: 
      url('./sfprodisplay/SFProDisplay-Semibold.woff?v=1.102') format('woff'), /* Super Modern Browsers */
      url('./sfprodisplay/SFProDisplay-Semibold.woff2?v=1.102') format('woff2') /* Modern Browsers */
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 700;
  src: 
      url('./sfprodisplay/SFProDisplay-Bold.woff?v=1.102') format('woff'), /* Super Modern Browsers */
      url('./sfprodisplay/SFProDisplay-Bold.woff2?v=1.102') format('woff2') /* Modern Browsers */
}