
  @font-face {
    font-family: 'Tiempos';
    font-weight: 300;
    src: 
        url('./tiempos/TiemposHeadline-Light.woff') format('woff'), /* Super Modern Browsers */
        url('./tiempos/TiemposHeadline-Light.woff2') format('woff2') /* Modern Browsers */
  }
  @font-face {
    font-family: 'Tiempos';
    font-weight: 400;
    src: 
        url('./tiempos/TiemposHeadline-Regular.woff') format('woff'), /* Super Modern Browsers */
        url('./tiempos/TiemposHeadline-Regular.woff2') format('woff2') /* Modern Browsers */
  }
  @font-face {
    font-family: 'Tiempos';
    font-weight: 500;
    src: 
        url('./tiempos/TiemposHeadline-Medium.woff') format('woff'), /* Super Modern Browsers */
        url('./tiempos/TiemposHeadline-Medium.woff2') format('woff2') /* Modern Browsers */
  }
  @font-face {
    font-family: 'Tiempos';
    font-weight: 600;
    src: 
        url('./tiempos/TiemposHeadline-Semibold.woff') format('woff'), /* Super Modern Browsers */
        url('./tiempos/TiemposHeadline-Semibold.woff2') format('woff2') /* Modern Browsers */
  }
  @font-face {
    font-family: 'Tiempos';
    font-weight: 700;
    src: 
        url('./tiempos/TiemposHeadline-Bold.woff') format('woff'), /* Super Modern Browsers */
        url('./tiempos/TiemposHeadline-Bold.woff2') format('woff2') /* Modern Browsers */
  }
  @font-face {
    font-family: 'Tiempos';
    font-weight: 900;
    src: 
        url('./tiempos/TiemposHeadline-Black.woff') format('woff'), /* Super Modern Browsers */
        url('./tiempos/TiemposHeadline-Black.woff2') format('woff2') /* Modern Browsers */
  }